* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1141px;
  margin: 0 auto;
}

body, footer {
  font-family: 'Lato', sans-serif;
}

.top-header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 31px;
}

.top-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-panel {
  margin-left: 30px;
  margin-top: 7px;
  height: 38px;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  background-color: #f6f6f6;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  margin-left: -10px;
  width: 36px;
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  outline: none;
}

.input {
  height: 100%;
  width: 250px;
  margin-top: -1px;
  margin-left: 11px;
  margin-right: 10px;
  padding-left: 10px;
  border: solid 1px #e6e6e6;
  outline: none;
}

.fa-caret-down {
  margin-left: 10px;
}

.details-element {
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
  padding-bottom: 22px;
  border: solid 1px #e6e6e6;
  margin-left: -18px;
}

.details-element:before {
  content: "";
  display: block;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  margin-left: 76px;
  margin-top: -7px;
}

.heading-details {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.29;
  letter-spacing: 0.35px;
  color: #232323;
  border-bottom: solid 1px #e6e6e6;
  margin: 10px 13px 16px 15px;
}

.details-list {
  list-style-type: none;
  margin: 16px 13px 0 20px;
}

.details-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.35px;
  color: #4f4f4f;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.summary-browse {
  display: block;
  font-size: 14px;
  line-height: 2.29;
  letter-spacing: 0.35px;
  text-align: left;
  color: #222222;
  text-decoration: none;
  height: 38px;
  width: 79px;
}

.summary-browse::-webkit-details-marker {
  display: none;
}

.summary-browse::after {
  content: '\25B6';
  padding-right: 0.5em;
  padding-left: 5px;
  color: #838383;
}

.details-browse[open] > .summary-browse::after {
  content: '\25BC';
  padding-left: 5px;
}

.details-browse[open] {
  z-index: 1;
  width: 79px;
}

.details-link:hover {
  color: #f16d7f;
}

.top-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -5px;
}

.basket {
  margin-top: 15px;
  margin-right: 20px;
}

.cart-details {
  display: block;
  width: fit content;
  cursor: pointer;
}

.button-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  width: 110px;
  height: 40px;
  padding-left: 15px;
  padding-right: 7px;
  font-size: 16px;
  line-height: 2.29;
  letter-spacing: 0.35px;
  text-align: left;
  color: #f16d7f;
  text-decoration: none;
  border: solid 1px #f16d7f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.triangle {
  margin-top: 17px;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #f16d7f transparent transparent transparent;
}

.button-account:hover {
  color: #FFFF;
  background-color: #f16d7f;
}

.button-account:hover .button-account:hover {
  border-color: #ffffff transparent transparent transparent;
}

.cart-block {
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  padding: 5px 15px 20px 17px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-left: -20px;
  margin-top: 14px;
}

.cart-block:before {
  content: "";
  display: block;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-top: -12px;
}

.cart-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-top: 16px;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 14px;
  padding-top: 10px;
}

.price-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 19px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.total {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #222;
}

.button-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delete-cart {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  line-height: normal;
  color: #c0c0c0;
  margin: 35px 0 35px 55px;
}

.heading-cart {
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.rating-block {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e4af48;
  cursor: pointer;
}

.count-cart {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f16d7f;
}

.link-checkout {
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  padding: 19px 74px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-checkout:hover {
  color: #fff;
  background-color: #f16d7f;
}

.go-to-cart {
  padding: 18px 71px;
  margin-top: 11px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: normal;
  padding: 0px 17% 0px 17%;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a:hover {
  color: #f16d7f;
}

.navigation {
  border-top: 1px solid #ececec;
}

.menu-list {
  position: relative;
}

.menu-list:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list:hover .mega-box-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list:hover .mega-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 15px 14px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mega-box {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -5px;
  display: none;
}

.mega-box-right {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  padding-left: 60px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -5px;
  margin-left: -650px;
  display: none;
}

.mega-box-centr {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  padding-left: 60px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -5px;
  margin-left: -360px;
  display: none;
}

.mega-box:before {
  content: "";
  display: block;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #FFFF;
  position: absolute;
  top: -7px;
  left: 28px;
}

.mega-box-right:before {
  content: "";
  display: block;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #FFFF;
  position: absolute;
  top: -7px;
  left: 670px;
}

.mega-box-centr:before {
  content: "";
  display: block;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #FFFF;
  position: absolute;
  top: -7px;
  left: 385px;
}

.mega-list {
  list-style-type: none;
}

.mega-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.35px;
  text-align: left;
  color: #646464;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

.mega-item {
  margin-right: 45px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-item-top-block {
  margin-bottom: 13px;
}

.mega-item-img {
  margin-left: -20px;
}

.slider-footer {
  margin-top: 30px;
}

.item-heading {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #232323;
  line-height: 2.29;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}

.top-content {
  background: #e8e8e8;
  height: 614px;
}

.top-border {
  margin-top: 249px;
  top: 100px;
  width: 12px;
  height: 100px;
  background: #f16d7f;
}

.top-block {
  position: relative;
  background-image: url("image/Slider.png");
  height: 614px;
  background-position: center;
}

.border-text-block {
  top: 230px;
  position: absolute;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.heading-slide {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.heading-brand {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
}

.heading-fashion {
  color: #f16d7f;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 98px;
}

.project-banners {
  position: relative;
}

.banners-text {
  position: absolute;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  padding: 13px;
}

.right-top-bar {
  margin-bottom: 18.5px;
}

.left-top-bar {
  margin-bottom: 18.5px;
}

.left-top {
  top: 26px;
  left: 0px;
}

.left-bottom {
  top: 588.5px;
  left: 0px;
}

.right-top {
  top: 26px;
  left: 0px;
}

.right-bottom {
  top: 308.5px;
  left: 0px;
}

.text-bar {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
  text-transform: uppercase;
}

.banners {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banners:hover {
  opacity: 0.7;
}

.bottom-content {
  margin-top: 93px;
}

.text-block {
  text-align: center;
}

.heading-text-block {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.75px;
  color: #222222;
  text-align: center;
}

.text-block p {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.35px;
  color: #9f9f9f;
}

.products-content {
  margin-top: 64px;
  margin-bottom: 78px;
}

.top-products {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-link {
  text-decoration: none;
  display: block;
  padding-bottom: 21px;
}

.picture-product {
  position: relative;
}

.add-product {
  position: absolute;
  color: white;
  top: 110px;
  left: 65px;
  border: 1px solid #ffffff;
  padding: 5px 13px 7px 12px;
  display: none;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.cart {
  margin-bottom: -6px;
  margin-right: 5px;
}

.item-products:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item-products:hover .img-product {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item-products:hover .add-product {
  display: block;
}

.add-product:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.name-product {
  margin: 16px 0 16px 16px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.35px;
  color: #222222;
}

.price {
  margin-left: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: #f16d7f;
}

.bottom-products {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.button-product {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 3.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #f16d7f;
  text-decoration: none;
  border: solid 1px #f16d7f;
  padding: 12px;
  margin-right: 41%;
  margin-left: 41%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-product:hover {
  color: #FFFF;
  background-color: #f16d7f;
}

.banner-block {
  margin-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 529px;
}

.left-banner-block {
  background-image: url(image/bottom-banner.png);
  width: 767px;
}

.heading-banner {
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 1.34px;
  text-align: left;
  color: #ffffff;
  font-size: 53.6px;
  position: relative;
  top: 133px;
  left: 37px;
}

.heading-offer {
  color: #f16d7f;
}

.heading-women {
  font-size: 32.2px;
}

.right-banner-block {
  background-color: #222224;
  width: 373px;
  list-style-type: none;
}

.object-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-left: 30px;
}

.article-object {
  padding-left: 30px;
  padding-right: 32px;
}

.heading-object {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fbfbfb;
}

.text-object {
  margin-top: 11.7px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  text-align: left;
  color: #fbfbfb;
  width: 236.1px;
}

.icon-object {
  margin-top: 0;
}

.interactive-block {
  z-index: 1;
  margin-top: 97px;
  height: 438px;
  position: relative;
}

.background-block {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(image/background-comment.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.content-interactive-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: solid 3px #e1e1e1;
  height: 100%;
  padding-right: 60px;
}

.comment-picture {
  margin-top: 111px;
  height: 83px;
}

.comment-text-block {
  margin-top: 118px;
  margin-left: 28px;
  width: 425.8px;
}

blockquote {
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  line-height: 1.63;
  letter-spacing: 0.4px;
  text-align: left;
  color: #222224;
  margin-bottom: 8px;
}

.signature {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #f16d7f;
}

.comment-text {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #222224;
  text-align: left;
}

.subscribe-block {
  margin-top: 125px;
  padding-right: 91px;
}

.heading-subscribe {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: normal;
  color: #222224;
  line-height: 1.7;
}

.text-subscribe {
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}

.email-subscribe {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 23px;
  border: solid 1px #e1e1e1;
  background-color: #e1e1e1;
  width: 386px;
}

.block-email {
  width: 120px;
  margin-left: 15px;
  background-color: #e1e1e1;
  border: none;
  padding: 14px 145px 15px 28px;
  outline: none;
}

.button-subscribe {
  padding-left: 18px;
  padding-right: 22px;
  border: none;
  border: solid 1px #f16d7f;
  color: #f16d7f;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  background-color: #ffffff;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-subscribe:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-top: 109px;
}

.footer-text {
  width: 427px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  text-align: left;
  color: #898989;
  margin-top: 29px;
}

.item-footer {
  width: 154px;
  margin-top: 123px;
}

.footer-heading {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: 0.45px;
  color: #f16d7f;
  margin-bottom: 28px;
}

.list-item-footer {
  list-style-type: none;
}

.link-item-footer {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #898989;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-item-footer:hover {
  color: #f16d7f;
}

.footer-bottom {
  background-color: #e6e6e6;
  margin-top: 89px;
}

.text-copy {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
  text-align: left;
  color: #7a7a7a;
  padding: 32px 0 32px 0;
}

.block-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
}

.icon-link {
  margin-left: 5px;
  font-size: 32px;
  color: #ffff;
}

.icon-link:hover {
  color: #f16d7f;
}

.breadcrumb-background {
  background-color: #f8f3f4;
  padding-top: 65px;
  padding-bottom: 65px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading-arrivals {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
  text-transform: uppercase;
}

.heading-navigation-arrivals {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.link-breadcrumb {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: #636363;
}

.link-breadcrumb:hover {
  color: #f16d7f;
}

.span-new-arrivals {
  font-weight: bold;
  color: #f16d7f;
}

.slider-background {
  border: solid 1px #eaeaea;
  background-color: #f7f7f7;
  padding-bottom: 42px;
}

.slider-block {
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.slider-block-img {
  height: 100%;
}

.arrow-slider-left {
  top: 640px;
  position: absolute;
  left: 3px;
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  border: none;
  outline: none;
}

.arrow-slider-left:hover {
  border: 1px solid #fff;
}

.arrow-slider-right {
  top: 640px;
  position: absolute;
  right: 3px;
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  border: none;
  outline: none;
}

.arrow-slider-right:hover {
  border: 1px solid #fff;
}

.fa-chevron-left {
  font-size: 17px;
  color: #ffffff;
}

.fa-chevron-right {
  font-size: 17px;
  color: #ffffff;
}

.product-description {
  position: relative;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin-top: -84px;
}

.slider-single {
  text-align: center;
}

.heading-collection {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 73px;
}

.heading-product {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  margin-top: 34px;
  text-transform: uppercase;
}

.description {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #5e5e5e;
  margin: 67px auto 0px auto;
  width: 618px;
}

.product-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 35%;
}

.item-description {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2f2f2f;
}

.span-item {
  color: #b9b9b9;
}

.product-item-price {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ef5b70;
  margin-bottom: 43px;
}

.description-bottom {
  width: 642px;
  border-top: solid 1px #eaeaea;
  margin: 43px auto 122px auto;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 63px;
  padding-left: 5%;
  padding-right: 5%;
}

.product-filter {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2f2f2f;
  text-transform: uppercase;
}

.product-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 13px;
}

.product-select {
  width: 144px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #bcbcbc;
  padding-left: 15px;
  height: 35px;
  outline: none;
}

.product-input {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  color: #bcbcbc;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  padding-left: 15px;
  height: 35px;
  width: 144px;
  outline: none;
}

.details-select[open] > .summary-product::after {
  content: '';
}

.summary-product {
  width: 144px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  outline-style: none;
  cursor: pointer;
  padding: 9.5px 0 10.5px 14px;
  display: block;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #bcbcbc;
}

.summary-product::after {
  content: '';
}

.summary-red {
  border-left: 13px solid #ef5b70;
  padding-left: 11px;
  margin-right: 67px;
}

.summary-black {
  border-left: 13px solid #222;
  padding-left: 11px;
  cursor: pointer;
}

.summary-product-item:hover {
  background-color: #1e95e4;
  color: #fff;
}

.summary-product::-webkit-details-marker {
  display: none;
}

.summary-product-item {
  z-index: 1;
  position: absolute;
  padding: 9px 0 10px 14px;
  width: 144px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #bcbcbc;
}

.button-add {
  border: solid 1px #ef5b70;
  background-color: #ffffff;
  padding: 15px 205px;
  text-decoration: none;
  color: #ef5b70;
  margin-left: 8.3%;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo-add-to-cart {
  margin: 33px 15px -5px 0px;
}

.button-add:hover {
  color: #FFFF;
  background-color: #f16d7f;
}

.you-may-block {
  margin-top: 119px;
}

.heading-you-may {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}

.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 72px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-card {
  list-style-type: none;
  position: relative;
}

.item-card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item-card:hover .img-product {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item-card:hover .add-product {
  display: block;
}

.link-card {
  text-decoration: none;
  display: block;
  padding-bottom: 21px;
}

.name-card {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6f6e6e;
  margin-top: 18px;
  margin-left: 14px;
}

.price-card {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f16d7f;
  margin-top: 17px;
  margin-left: 14px;
}

.item-checkout {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 26px;
  margin-top: 33px;
}

.checkout-content {
  margin-top: 89px;
}

.heading-shape {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
}

.shape-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  padding-bottom: 79px;
}

.left-shape-content {
  padding-left: 35px;
}

.shape-big-text {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.shape-small-text {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b3b2b2;
  margin-bottom: 33px;
}

.label-shape {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
  padding-left: 15px;
}

.radio {
  margin-bottom: 20px;
}

.radio:last-of-type {
  margin-bottom: 34px;
}

.link-shape {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #b3b2b2;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.link-shape:hover {
  color: #f16d7f;
}

.button-shipping-adress {
  margin-top: 23px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  padding: 19px 53px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-shipping-adress:hover {
  color: #FFFF;
  background-color: #f16d7f;
}

.right-shape-content {
  margin-left: 291px;
}

.name-login-form {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #222222;
  margin-bottom: 16px;
}

.span-required {
  color: #ff0d0d;
}

.input-shape-form {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  width: 380px;
  height: 35px;
  padding: 5px;
  margin-bottom: 22px;
}

.required {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #ff0d0d;
  margin-bottom: 9px;
}

.link-password {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #222222;
  margin-left: 32px;
  text-decoration: none;
}

summary {
  outline: none;
}

.summary-item-checkout {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.text-shape {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */